div {
    width: 100px;
    height: 100px;
}

#a {
    background-color: red;
    float: left;
}
#b {
    background-color: orange;
    float: left;
}
#c {
    background-color: yellow;
    float: left;
}
#d {
    background-color: green;    
    float: left;
}
#e {
    background-color: blue;
    float: left;
}
.flex-box{
    display: flex;
    width: 100%;
    height: 200vh;
}
.f{
    background-color: tomato;
}
.g{
    background-color: blue;
}
.h{
    background-color: black;
}
.i{
    background-color: skyblue;
}
.j{
    background-color: sandybrown;
}