body{
    width: 100%;
    height: 1000px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}
.Boxs{
    width: 100px;
    height: 100px;
}
.blackLine{
    width: 500px;
    height: 500px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.innerBox1{
    background-color: red;
}
.innerBox2{
    background-color: orange;
}
.innerBox3{
    background-color: blue;
}